<p class="warn"><a class="zoom" href="https://r2.edui123.com/2023/08/pay.png">请 Ta 喝咖啡 ☕️</a></p>
<style>
p.warn {
    background: rgba(66,185,131,.1);
    border-radius: 2px;
    padding: 1rem;
    margin-top: 5rem;
}
a.zoom {
    color: #42b983;
    font-weight: 600;
    text-decoration: none;
    display: block;
    text-align: center;
    letter-spacing: 10px;
    font-size: 1.3rem;
}
</style>
